@charset "utf-8";
.lt_sort{
    padding-top: 10px;
}
.sort_title{
    width: 100%;
    height: 30px;
    background-color: #eee;
    padding: 0 10px;
}
.sort_title a{
    display: block;
    width: 25%;
    height: 30px;
    line-height:30px;
    float: left;
    font-size: 12px;
    text-align: center;
    color: #666;
}
.sort_title a.now{
    color: darkorange;
}